 <div class="ui comments">
    <div class="comment">
      <a class="avatar">
        <img  [src]="adminService?.selectedUser?.photoPath">
        
      </a>
      <div class="content">
        <a class="author">{{adminService?.selectedUser?.name}}</a>
        <div class="metadata">
          <div class="date">2 days ago</div>
          <div class="rating">
            <i class="star icon"></i>
            5 Faves
          </div>
        </div>
        <div class="text">
          Hey guys, I hope this example comment is helping you read this documentation.
        </div>
      </div>
    </div>
  </div>

<app-user-header [user]="user" [userId]="userId"></app-user-header>

<div >
 
  <router-outlet></router-outlet>
</div>