
 <div style="align-content: center;">
 <!--<button class="staticBlock1" (click)="toggleDiv()" class="ui primary">collapse</button>-->
 <!--<div class="staticBlock" id="infoSection">
    <userslide [user]="user"></userslide>
 </div>-->
 <div class="columns">
   <div class="column" id="imgSection" style="align-content: center;">
      
      <table border="0" style="margin: 0;padding:0;border:none;background-color: black;">
        <tr >
          <td  *ngIf="increaseHeight==true" style="height: 200px;border:none;margin: 0;padding:0;background-color: black;">
          </td>
        </tr>
        <tr >
          <td id="centerCell" (mousemove)="onHoveCell()" (mouseover)="onHoveCell()" style="align-content: center;text-align: center;border:none;margin: 0;padding:0;background-color: black;">
            <i id="leftImg" (click)="lastPhoto()" style="float:left;vertical-align: middle; cursor: pointer; cursor: hand; "  class="yellow massive angle double left icon"></i>
            <i id="rightImg" (click)="nextPhoto()" style="float:right;vertical-align: middle;z-index: 10; cursor: pointer; cursor: hand; "  class="yellow massive angle double right icon"></i>
            <!--<img src=""  alt="left">-->
            <!--<img id="rightImg" src="" (click)="nextPhoto()"  style="float: right" alt="right">-->
            <img (mousemove)="onHoveCell()" (mouseover)="onHoveCell()" src="{{currentPhoto.displayPath}}" id="mainImg">
          </td>
        </tr>
        <tr  >
          <td  *ngIf="increaseHeight==true" style="height: 200px;border:none;margin: 0;padding:0;background-color: black;">
          </td>
        </tr>
      </table>
   </div>
   <div class="column is-one-quarter" id="messageSection" style="padding:0px;margin:0px;">
      <userslide [photo]="currentPhoto" [parent]="parent" [photoId]="photoId" [user]="user"></userslide>
   </div>

 </div>
