.name-comment-Style{
        font-family: 'Source Sans Pro', sans-serif;
     font-size: 15px;
     font-weight: bold;
     color:black;
     position: relative;
     left: 0px;
}
.messageStyle{
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 15px;
     font-weight: normal;
     position: relative;
     text-indent: 5px;
}
.block-shadow {

        display: block;
    position: relative;
    padding: 5px 10px;
    box-shadow: 1px 1px 3px;
    margin-top: 4px;
}

.likeCommentSection {
    position: relative;
    margin-left: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color:gray;
}
.likeCommentSection a{
    text-decoration: none;
    color:gray;
}
.likeCommentSection a:hover{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
