
<span class="headling-style-admin">{{header}}</span>
<br>

<form *ngIf="company" [formGroup]="companyForm" novalidate>
  <div >
    <div class="input-field">
     
        <input  type="text" size="50" placeholder="Company Name" formControlName="name">
       <label>Name</label>
    </div>
    <div class="input-field">
     
        <input  type="text" size="50" placeholder="Unique Name" formControlName="uname">
       <label>Unique Name</label>
    </div>

<div class="ui divider"></div>
  <div class="field is-horizontal">
        <div class="button-section">
         <button class="button-cancel" (click)="cancel()">
          Cancel
        </button>
        &nbsp;&nbsp;
        <button class="button-save" (click)="createUpdate()">
          {{buttonValue}}
        </button>

        </div>
      </div>
 </div>
</form> 