<div class="ui form">
  <div class="inline field addTopSpace">
    <label  *ngIf="showHeader">{{widget.widgetDisplayName|in18}}<span *ngIf="required" >*</span> </label>
    <div *ngFor="let res of textInput">
      <span >{{getDisplayValue(res)}}</span> |
    </div>
    <div *ngIf="widget">
      <select class='select-option' [ngClass]="this.errors.length>0 ? 'errorBorderStyle' : 'normalBorderStyle'" [disabled]="disabledValue" [(ngModel)]="selectedValue"  (change)="textBoxChanged($event)" >
           
              <option class='option' *ngFor="let item of widget.options" [value]="item?.storedValue">{{item?.displayValue}}</option>
          </select>

    </div>
    <div class="errorStyle" *ngFor="let ee of this.errors">
        {{ee}}
      </div>
  </div>
</div>