<app-user-header [user]="user" [current]="'credential'" [userId]="userId"></app-user-header>
<form [formGroup]="credForm" novalidate>
  <div>

    <div class="input-field">

      <input type="text" size="50" placeholder="User Name" formControlName="userName">
      <label>{{'username'|in18}} </label>
    </div>
    <div class="input-field">

      <input type="text" size="50" placeholder="{{'currentPassword'|in18}}" formControlName="currentPassword">
      <label>{{'currentPassword'|in18}}</label>
    </div>
    <div class="input-field">

      <input type="text" size="50" placeholder="{{'newPassword'|in18}}" formControlName="password">
      <label>{{'newPassword'|in18}}</label>
    </div>


    <div class="input-field">

      <input type="text" size="50" placeholder="{{'confirmNewPassword'|in18}}" formControlName="confirmPassword">
      <label>{{'confirmNewPassword'|in18}}</label>
    </div>

 



    <div class="ui divider"></div>
    <div class="field is-horizontal">
      <div class="button-section">
        <button class="button-cancel" (click)="cancel()">
          {{'cancel'|in18}}
        </button> &nbsp;&nbsp;
        <button class="button-save" (click)="createUpdate()">
          {{'save'|in18}}
        </button>

      </div>
    </div>
  </div>
</form>