.ajustSize{
    width: 100px !important;
    
}
.adjustWidth{
    width: 650px !important;
}
.shadowCool{
    padding-right: 10px !important;
    padding-top: 10px !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.gapCss{
    padding-top: 10px;
    margin-top: 10px;
}
.adjustVerticle{
    vertical-align: middle;
    
}