<div class="ui vertical menu" style="font-size: 16px;width: 100%;">
  <div class="item">
    <div class="header">Setting</div>
    <div class="menu" style="font-size: 14px;">
      <a class="item">Users</a>
      <a class="item">Groups</a>
      <a class="item">Department</a>
      <a class="item">Designations</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Manage Users</div>
    <div class="menu"  style="font-size: 14px;">
      <a class="item">Groups</a>
      <a class="item">Department</a>
      <a class="item">Designations</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Roles/Activities</div>
    <div class="menu" style="font-size: 14px;">
      <a class="item">Roles</a>
      <a class="item">Activities</a>
      <a class="item">Assign Role Activities</a>
    </div>
  </div>
  <div class="item" style="font-size: 14px;">
    <div class="header">Support</div>
    <div class="menu">
      <a class="item">E-mail Support</a>
      <a class="item">FAQs</a>
    </div>
  </div>
</div>

