<app-user-header [user]="user" [current]="'mapuseraction'" [userId]="userId"></app-user-header>


<div class="columns">
  <div class="column is-8">
    <table>
      <tr class="link-button-section">
        <td>
          <span>{{'user-mapping-action'|in18}}</span>
        </td>
        <td>
       
        </td>
      </tr>
    </table>
    <table class="ui table">
      <thead>
      <tr>
        <td>
            Type
        </td>
        <td>
            Map
        </td>
         <td>
            Action
        </td>

      </tr>
      </thead>
      <tr>
        <td>
            Ticket Category
        </td>
        <td>
            <select id="map" [(ngModel)]="selectedTicketCategory">
              <option value="none">Select One</option>
              <option *ngFor="let op of filteredValues" [value]="op.storedValue">{{op.displayValue}}</option>
            </select>
        </td>
         <td>
            <span (click)="addTicketCategory()" > Add </span>
        </td>

      </tr>
    </table>




    <app-report-data [header]="'user-mapping-action'" [editReq]="false"  [createURL]="'false'"  (deleteEventEmitter)="deletedRow($event)" [createNeeded]="'false'" [meta]="meta" [data]="this.mapUserActions"></app-report-data>
  
  </div>
</div>