<div style="font-size: 14px;">
<div class="ui clearing segment">

  <h3 class="ui left floated header">
  <i class="address card icon"> </i>Profession
  </h3>
  <h3 class="ui right floated header" (click)="showAddNew()">
    <i class="add square icon" > </i>New
  </h3>
</div>
<br/>
<div *ngIf="isNew==true || isEdited==true" >
  <form class="ui form" name="addressForm" ngNoForm>
    <div class="field">
      <label>Country</label>
      <input type="text" [(ngModel)]="address.country" ngOpt placeholder="Country">
    </div>
    <div class="field">
      <label>State</label>
      <input type="text" [(ngModel)]="address.state" placeholder="State">
    </div>
    <div class="field">
      <label>City</label>
      <input type="text" [(ngModel)]="address.city" placeholder="City">
    </div>
    <div class="field">
      <label>Street</label>
      <input type="text" [(ngModel)]="address.street" placeholder="State">
    </div>
    <div class="field">
      <label>Land Mark</label>
      <input type="text" [(ngModel)]="address.landMark" placeholder="State">
    </div>
    <div class="field">
      <label>Pincode</label>
      <input type="text" [(ngModel)]="address.pincode" placeholder="State">
    </div>

    <div class="field">
      <label>Address Type</label>
      <select class="ui search dropdown" [(ngModel)]="address.addressType">
        <option value="">Select Type</option>
        <option value="permanent">Permanent</option>
        <option value="temporary">Temporary</option>
      </select>
    </div>
    <button class="ui button" type="button" (click)="saveAddress()">Submit</button>
  </form>
</div>

  <table class="ui celled padded table" *ngIf="isEdited==false">
  <thead>
    <tr><th class="single line">Country</th>
    <th>State</th>
    <th>City</th>
    <th>Street</th>
    <th>Pincode</th>
  </tr></thead>
  <tbody>
    <tr *ngFor="let item of addresses">
      <td>
        <span><a (click)="editAddress(item)" >{{item.country}}</a></span>
      </td>
      <td >
       <span> {{item.state}}</span>
      </td>
      <td>
      <span>{{item.city}}</span>
      </td>
      <td >
       <span> {{item.street}}</span>
      
      </td>
      <td>
       <span>{{item.pincode}}</span>

      </td>
    </tr>
  </tbody>
</table>
</div>