<div class="tabs is-boxed">
  <ul>
    <li class="is-active">
      <a href="#tabs-1">
        <span class="icon is-small"><i class="fas fa-image"></i></span>
        <span>Users</span>
      </a>
    </li>
    <li>
      <a href="#tabs-2">
        <span class="icon is-small"><i class="fas fa-music"></i></span>
        <span>Photo</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-film"></i></span>
        <span>Link</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-file-alt"></i></span>
        <span>Settings</span>
      </a>
    </li>
      <li>
      <a>
        <span class="icon is-small"><i class="fas fa-file-alt"></i></span>
        <span>Activities</span>
      </a>
    </li>
    
  </ul>
</div>
