.comment-create{
    position: relative;

}

.comment-create textarea{
    position: relative;
    left: 0px;
    width: 70%;
    top:0px;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 777;
    padding-left: 10px;
    padding-top: 5px;
}

.comment-create button{
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    /* border-radius: 10px; */
    font-weight: 700;
    font-size: 16px;
    transition: 0.5s;
    margin-top: 20px;
    background: #ff006a;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    top: -14px;
    height: 41px;
}